{% extends 'base.html.twig' %}

{% block navbar %}
    {% include 'includes/navbarEtud.html.twig' %}
{% endblock %}

{% block content %}
    <!-- include de la nav bar -->
    <?php include("../../pageParts/navbarEtud.php"); ?>
    <!-- debut de la page  -->
    <div class="rectangle">
        <h1>WE4A Développement Web </h1>
        <div class="messages">
            <div class="message fichier">
                <i class="fas fa-file-alt icon"></i>
                <span class="message-text">Voici un fichier important à télécharger.</span>
                <div class="date-heure">22/02/2005 20:00</div>
            </div>
            <div class="message texte">
                <i class="fas fa-sms"></i>
                <span class="message-text">Bonjour, j'espère que vous allez bien !</span>
                <div class="date-heure">22/02/2005 20:00</div>
            </div>
            <div class="message fichier">
                <i class="fas fa-file-alt icon"></i>
                <span class="message-text">Votre rapport PDF est disponible ici.</span>
                <div class="date-heure">22/02/2005 20:00</div>
            </div>
            <div class="message texte">
                <i class="fas fa-info-circle"></i>
                <span class="message-text">Pouvez-vous me répondre demain ?</span>
                <div class="date-heure">22/02/2005 20:00</div>
            </div>
            <div class="message texte">
                <i class="fas fa-exclamation-triangle"></i>
                <span class="message-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis repellat earum minima id iste consectetur commodi totam inventore. Ducimus vero sapiente nesciunt libero sed ea non eveniet reprehenderit consectetur error? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste odio accusamus magni ullam autem architecto, est rem cumque pariatur laboriosam dignissimos aut, eligendi et molestiae eos qui, soluta neque consectetur!</span>
                <div class="date-heure">22/02/2005 20:00</div>
            </div>
        </div>
    </div>

    {% block component %}
        {% include 'includes/_modificationProfil' %}
    {% endblock %}

{% endblock %}
{% block footer %}
{% include 'includes/_footer' %}
{% endblock %}

{% block javascripts %}
    <script src="/Projet_WE4A/js/navigation.js"></script>
{% endblock %}
