<!-- La modale d'inscription -->
<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title " id="signupModalLabel">Inscription</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Formulaire d'inscription -->
                <form id="signupForm">
                    <div class="input-group  mb-3">
                        <span class="input-group-text">
                        </span>
                        <input type="text" class="form-control" placeholder="Name ">
                    </div>
                    <div class="input-group  mb-3">
                        <span class="input-group-text">

                        </span>
                        <input type="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="input-group  mb-3">
                        <span class="input-group-text">
                        </span>
                        <input type="password" class="form-control" placeholder="Password ">
                    </div>
                    <div class="input-group mb-3 ">
                        <span class="input-group-text"></span>
                        <select class="form-select" id="role" name="role">

                            <option value="" selected disabled>-- Role--</option>
                            <option value="etudiant">Etudiant</option>
                            <option value="admin">Administrateur</option>
                            <option value="prof">Professeur</option>
                            <option value="prof_admin">Professeur & Administrateur</option>

                        </select>
                    </div>
                    <div class="mb-3">
                        <div id="selectionAffichee" class="alert alert-info" style="display: none;">
                            <strong>UEs sélectionnés :</strong>
                            <div id="listeSelection" class="d-flex flex-wrap"></div>
                        </div>


                    </div>

                    <div class="d-grid ">
                        <button type="button" class="btn btn-secondary mb-3" data-bs-dismiss="modal">Annuler</button>
                        <button type="button" class="btn btn-primary mb-3" id="saveUserChanges">Enregistrer</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>