<?php
$qui = "admin";
?>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin home</title>
    <link rel="stylesheet" href="/Projet_WE4A/styles/adminpage.css">
    <?php
    include('../../pageParts/_link.html.twig');
    include("../../pageParts/_modificationProfil.html.twig");
    ?>

</head>

<body>
    <?php
    include('../../pageParts/navbarProfAdmin.html.twig')
    ?>

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-10 offset-1" id="main-content">
                <h1>Bienvenue sur votre tableau de bord</h1>
                <div class="row" id="content">
                    <div class="col-3 d-flex">
                        <div class="card flex-fill">
                            <div class="card-body py-4">
                                <div class="d-flex align-items-start">
                                    <div class="flex-grow-1">
                                        <h3 class="mb-2">1500</h3>
                                        <p class="mb-2">Etudiants</p>
                                    </div>
                                    <div class="d-inline-block ms-3">
                                        <div class="stat">
                                            <i class="align-middle text-success" data-lucide="dollar-sign"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-3 d-flex">
                        <div class="card flex-fill">
                            <div class="card-body py-4">
                                <div class="d-flex align-items-start">
                                    <div class="flex-grow-1">
                                        <h3 class="mb-2">300</h3>
                                        <p class="mb-2">Professeurs</p>
                                    </div>
                                    <div class="d-inline-block ms-3">
                                        <div class="stat">
                                            <i class="align-middle text-success" data-lucide="dollar-sign"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-3 d-flex">
                        <div class="card flex-fill">
                            <div class="card-body py-4">
                                <div class="d-flex align-items-start">
                                    <div class="flex-grow-1">
                                        <h3 class="mb-2">5</h3>
                                        <p class="mb-2">Admins</p>
                                    </div>
                                    <div class="d-inline-block ms-3">
                                        <div class="stat">
                                            <i class="align-middle text-success" data-lucide="dollar-sign"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-3 d-flex">
                        <div class="card flex-fill">
                            <div class="card-body py-4">
                                <div class="d-flex align-items-start">
                                    <div class="flex-grow-1">
                                        <h3 class="mb-2">0</h3>
                                        <p class="mb-2">ProfAdmins</p>
                                    </div>
                                    <div class="d-inline-block ms-3">
                                        <div class="stat">
                                            <i class="align-middle text-success" data-lucide="dollar-sign"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-6 d-flex">
                        <div class="card flex-fill">
                            <div class="card-body py-4">
                                <div class="d-flex align-items-start">
                                    <div class="flex-grow-1">
                                        <re1 class="mb-2">Titre1</re1>
                                        <p class="mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, officia esse. Unde soluta quibusdam numquam dolorem reiciendis iusto praesentium sunt harum et molestias distinctio aliquid reprehenderit saepe non, libero earum?</p>
                                    </div>
                                    <div class="d-inline-block ms-3">
                                        <div class="stat">
                                            <i class="align-middle text-success" data-lucide="dollar-sign"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 d-flex">
                        <div class="card flex-fill">
                            <div class="card-body py-4">
                                <div class="d-flex align-items-start">
                                    <div class="flex-grow-1">
                                        <re2 class="mb-2">Titre2</re2>
                                        <p class="mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus sed est harum numquam perspiciatis. Incidunt quas animi nihil! Tenetur eos nostrum labore neque blanditiis fugiat amet itaque tempore possimus laborum.</p>
                                    </div>
                                    <div class="d-inline-block ms-3">
                                        <div class="stat">
                                            <i class="align-middle text-success" data-lucide="dollar-sign"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-12 d-flex">
                        <div class="card flex-fill">
                            <div class="card-body py-4">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur praesentium officia et doloremque tempore. Quia, labore ad, placeat reiciendis delectus voluptas ipsam nobis neque ut dolores commodi architecto saepe tenetur!
                                    Vel magni quod ratione dicta illo beatae atque adipisci cupiditate repudiandae libero quis, rerum quidem, sapiente soluta consectetur nulla culpa repellat dignissimos optio nisi vero repellendus. Ipsam iste incidunt delectus.
                                    Culpa, repellat pariatur ut voluptatibus libero qui est adipisci illum quo, quod, quidem sunt? Et porro exercitationem, quisquam at nostrum voluptatem id saepe illo eos odio quasi! Obcaecati, recusandae minus.
                                    A aliquid explicabo rem, deserunt est harum amet. Hic, aut qui. Nihil quibusdam unde soluta aliquam libero nostrum quis, ipsum cupiditate obcaecati officiis corporis ipsam quos numquam dignissimos quae natus.
                                    Perspiciatis eaque tenetur sapiente autem corrupti assumenda porro ratione! Repellendus aspernatur debitis fugit et. Porro sint ab beatae architecto! Aut fuga saepe eligendi laborum? Qui soluta beatae culpa maiores ducimus.
                                    Cumque ea in tempora, voluptatibus ratione id quia harum eaque, quae incidunt quo nemo, recusandae unde. Quam iste ratione eum repudiandae velit necessitatibus dolor at corporis, illum animi itaque asperiores.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    </div>

    <script src="../../bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
    <script src="../../bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>

<?php
include('../../pageParts/_footer.html.twig');
?>