<?php
$qui = "admin";
?>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prof admin page</title>
    <?php
    include('../../pageParts/_link.html.twig');
    include("../../pageParts/_modificationProfil.html.twig");
    ?>

</head>

<body>
    <?php
    include('../../pageParts/navbarProfAdmin.html.twig')
    // include('../../pageParts/navbarAdmin.html.twig')

    ?>
</body>

</html>